snippet wrap-file "meson wrap-file"
[wrap-file]
directory = $1

source_url = https://$2
source_filename = $3
source_hash = $4
endsnippet

snippet wrap-git "meson wrap-git"
[wrap-git]

url = $1
revision = head
depth = 1
endsnippet
