snippet table "table"
<table>
	<thead>
		<tr></tr>
	</thead>
	<tbody>
	</tbody>
</table>
endsnippet

snippet row "create row"
<tr>
	<td>$1</td>
</tr>
endsnippet

snippet col "create column"
<td>$1</td>
endsnippet
