snippet script "create script"
<script setup lang="ts">
$1
</script>
endsnippet

snippet template "create template"
<template>
$1
</template>
endsnippet

snippet style "create style"
<style>
$1
</style>
endsnippet

snippet component "import component"
import $1 from '@/components/$1.vue';
endsnippet
